@model ReturnOrderPortal.Models.ProcessRequest

@{
    ViewData["Title"] = "CreateProcessRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="~/assets/css/fontawesome.css">
<link rel="stylesheet" href="~/assets/css/templatemo-sixteen.css">
<link rel="stylesheet" href="~/assets/css/owl.css">

<h1>CreateProcessRequest</h1>

<h4>ProcessRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProcessRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPriority" /> @Html.DisplayNameFor(model => model.IsPriority)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardNumber" class="control-label"></label>
                <input asp-for="CreditCardNumber" class="form-control" />
                <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DefectiveComponent.ComponentType)
                @Html.TextBoxFor(m => m.DefectiveComponent.ComponentType, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DefectiveComponent.ComponentName)
                @Html.TextBoxFor(m => m.DefectiveComponent.ComponentName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DefectiveComponent.Quantity)
                @Html.TextBoxFor(m => m.DefectiveComponent.Quantity, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<!-- Bootstrap core JavaScript -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- Additional Scripts -->
<script src="~/assets/js/custom.js"></script>
<script src="~/assets/js/owl.js"></script>
<script src="~/assets/js/slick.js"></script>
<script src="~/assets/js/isotope.js"></script>
<script src="~/assets/js/accordions.js"></script>

