@model ReturnOrderPortal.Models.ProcessRequest

@{
    ViewData["Title"] = "CreateProcessRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/css/CreateRequest.css" >
    
</head>

<body>
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />

    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">

                <h3>Hi Buddy</h3>
                <br />
                <h2>You can place an order for repair or replacement based on the type of component.</h2>

            </div>

            <div class="col-md-9 register-right">
                <form asp-action="CreateProcessRequest">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Repair Replacement</h3>
                            <div class="row register-form">

                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                        <input asp-for="Name" class="form-control" placeholder="Enter Your Name" required/>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>


                                    <div class="form-group">
                                        <input asp-for="ContactNumber" class="form-control" placeholder="Enter your contact" pattern="[1-9]{1}[0-9]{9}" title="10 digit number" required/>
                                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                                    </div>

                                    <br />
                                    <h4>Defective Component</h4>
                                    <br />

                                    <div>
                                        <div class="form-group">

                                            @Html.DropDownListFor(m => m.DefectiveComponent.ComponentType,
                                                            new SelectList(new List<string> { "Integral", "Accessory" }),
                                                            "Select Component Type", new
                                                                 {
                                                                @id = "type",
                                                                required = "",
                                                                onchange = "changePriority()"
                                                            })
                                            @Html.ValidationMessageFor(m => m.DefectiveComponent.ComponentType)
                                        </div>

                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.DefectiveComponent.ComponentName, new { @class = "form-control", placeholder="Enter Component Name", required="required"})
                                            @Html.ValidationMessageFor(m => m.DefectiveComponent.ComponentName)
                                        </div>

                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.DefectiveComponent.Quantity, new { @class = "form-control",placeholder="Enter Quantity",required="required" ,@type="number",min="1"})
                                            @Html.ValidationMessageFor(m => m.DefectiveComponent.Quantity)
                                        </div>

                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="IsPriority" disabled="disabled" id="priority" /> @Html.DisplayNameFor(model => model.IsPriority)
                                            </label>
                                        </div>

                                        <input type="submit" class="btnRegister" value="Submit" />
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <input asp-for="CreditCardNumber" class="form-control" placeholder="Credit Card Number" required title="16 Digit number" pattern="[0-9]{16}" id="cd"/>
                                        <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <input  class="form-control" placeholder="Confirm Credit Card Number" id="cde" onkeyup="check()" required  pattern="[0-9]{16}" type="password"/>
                                        <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
                                        <span id="message"></span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/accordions.js"></script>
    <script type="text/javascript">

        function changePriority() {
            var e = document.getElementById("type");
            var strUser = e.options[e.selectedIndex].text;
            if (strUser == "Integral")
                var g = document.getElementById("priority").disabled
                    = false;
            else
                var g = document.getElementById("priority").disabled
                    = true;
        }

        function check() {
            if (document.getElementById("cd").value === document.getElementById("cde").value) {
                document.getElementById("message").innerHTML = "Credit Card matching";

            }
            else {
                document.getElementById("message").innerHTML = "Credit Card does not match";
            }
        }
    </script>
</body>

